@charset "UTF-8";


  


* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 2vw;
    
}

header > hr{
  margin: 1vw;
  background-color: rgba(0, 0, 0, 0.144);
  border-color: black;

  
}

@media (max-width: 650px) {
  header > h1 {
    font-size: 1.3em;
    margin: 5vw;
  }
}

@media (max-width: 440px) {
  header > h1 {
    font-size: 1em;
    margin: 2vw;
  }
}


#about {
    overflow: hidden;
    margin: none;
    
}


#perfil {
    border-radius: 50%;
    margin-right: 3vw;
    float: left;
    padding: 5px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    margin: 2vw;
    background-color: bisque;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.486);
    border-radius: 2px;
    font-size: 1.1em;
}

@media (max-width: 850px) {
  .text-container > p {
    font-size: 0.8em;
    margin: 2vw;
  }
}

@media (max-width: 480px) {
  .text-container > p {
    font-size: 0.6em;
    margin: 1vw;
  }
}

  


#paginas  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 3vw;
}



.image {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
  }

  @media (max-width: 850px) {
    .image > p {
      font-size: 0.8em;
      text-align: center;
      word-wrap: break-word;
    }
  }
  
  @media (max-width: 600px) {
    .image > p {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 480px) {
    .image > p {
      font-size: 0.6em;
    }
  }
  


  a:hover {
    color: black;
    font-size: 1.1em;
    transition: 0.3s;
    
    
  }
  

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6vw;
    
  }

  @media (max-width: 850px) {
    footer {
      font-size: 1em;
      margin-top: 8vw;
    }
  }
  
  @media (max-width: 650px) {
    footer {
      font-size: 0.9em;
      margin-top: 5vw;
    }
  }
  
  

